* {
  background-color: #f0efc5;
}
header {
  background: radial-gradient(
    circle,
    rgba(253, 223, 45) 0%,
    rgba(34, 99, 195) 100%
  );
  border-bottom: 1px solid black;
  text-align: center;
  padding-bottom: 2%;
}
h1 {
  background: radial-gradient(
    circle,
    rgba(253, 223, 45, 1) 0%,
    rgba(34, 99, 195, 1) 100%
  );
}
main {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}
aside {
  width: 33%;
  padding: 1%;
  margin-right: 3%;
  border: 1px solid black;
}
.search-history-container {
  margin-top: 3%;
}
.weather-today {
  width: 93%;
  margin-bottom: 2%;
}
@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
  aside {
    width: 100%;
    padding: 1%;
    margin-bottom: 2%;
  }
  .row {
    margin: 2%;
  }
}
