* {
  background-color: #f0efc5; /*PLACEHOLDER*/
}
header {
  background: radial-gradient(
    circle,
    rgba(253, 223, 45) 0%,
    rgba(34, 99, 195) 100%
  );
  border-bottom: 1px solid black;
  text-align: center;
  padding-bottom: 2%;
}
h1 {
  background: radial-gradient(
    circle,
    rgba(253, 223, 45, 1) 0%,
    rgba(34, 99, 195, 1) 100%
  );
}
main {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}
aside {
  width: 33%;
  padding: 1%;
  margin-right: 3%;
  border: 1px solid black;
}
.weather-today {
  width: 93%;
  margin-bottom: 2%;
}
#weather-container {
  /* display: flex;
  flex-wrap: nowrap;
  justify-content: center; */
}
